# Desactivar la opción MultiViews para evitar conflictos en la resolución de URLs
Options -MultiViews

# Habilitar el motor de reescritura de URL
RewriteEngine On

# Si el archivo solicitado no existe, el servidor pasará la solicitud a la siguiente regla
RewriteCond %{REQUEST_FILENAME} !-f

# Redirigir todas las solicitudes a index.php
RewriteRule ^ index.php [QSA,L]
