<!DOCTYPE html>
<html lang="es">

<head>
	<!-- Metadatos -->
	<meta charset="UTF-8">
	<link rel="icon" href="assets/img/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Error 404</title>

	<!-- Estilos CSS -->
	<style>
		body {
			background: linear-gradient(rgba(48, 48, 48, 0.5), rgba(0, 44, 133, 0.5)), url("/assets/img/404.gif") no-repeat center center / cover;
			background-attachment: fixed;
			font-family: "Roboto", sans-serif;
		}

		.error {
			/* Contenido centrado */
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			color: white;
		}

		.error h1 {
			font-size: 12rem;
			margin: 5px;
		}

		.error h2 {
			font-size: 1.5rem;
		}
	</style>

</head>

<body>
	<!-- Contenido -->
	<div class="error">
		<h1>404</h1>
		<h2>Página no encontrada _(</h2>
	</div>
</body>

</html>